@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Lora:400,400i,700,700i&display=swap');

h1, h2 {
	font-family: 'Josefin Sans';
	font-weight: 300;
}

body {
	padding-bottom:100px;
	font-family: 'Lora', sans-serif;
	font-size: 14pt;
	color: #202020;
}

#header {
	padding-top:30px;
	padding-bottom:30px;
}

h1 {
	font-size: 28pt;
}

/*h3 {
	font-size: 12pt;
	line-height: 18pt;
	letter-spacing: 3pt;
} */

p {
	font-size: 14pt;
	line-height: 21pt;
}

a {
	color: #202020;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10pt;
}
a:hover {
	color: #00ccff;
	text-decoration: none;
}

input[type=button] {
	font-family: 'Lora', sans-serif;
	font-size: 14pt;
}
