.menu-content {
    position: relative;
}
.collapsible-menu {
    padding: 0px;
    border: none;
    background-color: rgba(256,256,256,.9);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
	text-align: center;
}

.collapsible-menu label {
/*    display: block; */
    cursor: pointer;
	background: url(/theme/images/menu-open.png) no-repeat left center;
    padding: 10px 0 10px 50px;
	text-indent: -9999px;
}
input#menu {
    display: none;
}

input:checked +label {
    background: url(/theme/images/menu-close.png) no-repeat left center;
}
.logo {
	z-index: 3;
	position: relative;
}

.menu-content {
    max-height: 0;
	width:0;
    overflow: hidden;
    padding: 0 0 0 0px; 
    position: absolute;
    z-index: 2;
    top: 120px;
   /* background-color: rgba(256,256,256,.8);*/
	background: -webkit-linear-gradient(#00ccff, #5500d4);
	background: -o-linear-gradient(#00ccff, #5500d4);
	background: -moz-linear-gradient(#00ccff, #5500d4);
	background: linear-gradient(to right, #00ccff, #5500d4);
}
.menu-content hr {
	margin: 0px;
	padding: 0px;

}


/* Toggle Effect */
input:checked ~ .menu-content {
    max-height: 100%;
	width: 100%;
}

nav li {
	margin-bottom: 10px;
}

nav li a {
	text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0px #fff;
	padding: 10px;	
	padding-left: 30px;
	padding-right: 40px;
	margin: auto;
	background-color: #fff;
	border-radius: 2px;
}
nav li a:hover {
	text-decoration: underline;
}
